
<div *ngIf="errors?.email" class="alert alert-danger mt-3">
  {{ errors?.email }}
</div>
<div *ngIf="errors?.password" class="alert alert-danger mt-3">
  {{ errors?.password }}
</div>
<div *ngIf="errors?.password_confirmation" class="alert alert-danger mt-3">
  {{ errors?.password_confirmation }}
</div>

<div class="container mt-5">
  <div class="card mb-3" *ngFor="let voluntariado of voluntariados">
    <div class="card-header">
      <h4>{{ voluntariado.descripcion }}</h4>
    </div>
    <div class="card-body">
      <p class="card-text"><b>Ciudad: </b>{{ voluntariado.ciudad }}</p>
      <p class="card-text"><b>Empresa: </b>{{ voluntariado.empresa.nombre }}</p>
      <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userInfo">Subscribirse</a>
    </div>
    <div class="modal fade" id="userInfo" tabindex="-1" aria-bs-labelledby="userInfoLabel" aria-bs-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="userInfoLabel">Rellenar datos</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="userForm">
              <div class="form-group">
                <label>Email</label>
                <input name="email" formControlName="email" placeholder="Email" class="form-control">
              </div>
              <div class="form-group">
                <label>Nombre</label>
                <input name="nombre" formControlName="nombre" placeholder="Nombre" class="form-control">
              </div>
              <div class="form-group">
                <label>Contraseña</label>
                <input name="password" formControlName="password" placeholder="Contraseña" class="form-control" type="password">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cerrar
            </button>
            <button type="button" class="btn btn-primary" (click)="existUser(voluntariado)">
              Subscribirse
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
